@font-face {
	font-family: 'farid';
	src: url('fonts/Coolvetica.ttf.woff') format('woff'),
		url('fonts/Coolvetica.ttf.svg#Coolvetica') format('svg'),
		url('fonts/Coolvetica.ttf.eot'),
		url('fonts/Coolvetica.ttf.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'farid';
}

.intro * {
	line-height: 0.8;
	font-size: 3.7rem;
}

.intro {
	padding-top: 30px;
}

.experience .link {
	display: block;
}

.clear-large {
	margin: 50px;
	display: block;
	width: 100%;
}

.clear-xlarge {
	margin: 80px;
	display: block;
	width: 100%;
}

.clear-medium {
	margin: 30px;
	display: block;
	width: 100%;
}

.clear-small {
	margin: 10px;
	display: block;
	width: 100%;
}

.title {
	font-size: 3rem;
	color: #08fdd8;
	line-height: 1;
}

.description {
	margin-top: 10px;
	font-family: 'Open Sans', sans-serif;
}

.skillName {
	display: inline;
	font-size: 0.8rem;
	margin-bottom: 8px;
	font-family: 'farid';
	letter-spacing: 2px;
}

.progress {
	height: 1px;
}

.skills > .col-6 {
	margin-top: 23px;
}

#overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0);
	z-index: 2;
	cursor: pointer;
}

.link {
	text-decoration: none;
	color: white;
}

.link:hover {
	opacity: 0.5;
	text-decoration: none;
	color: white;
}

.showTime {
	float: right;
}

.experience .showTime {
	font-size: 0.8rem;
	opacity: 0.6;
	float: left;
}

td {
	border: none !important;
}

@media (max-width: 992px) {
	.showTime {
		float: left;
		opacity: 0.6;
		font-size: 0.8rem;
	}
}
